.loginPage {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
  padding: 80px 80px;
}
input {
  border: 1px solid rgba(29, 161, 242, 1);
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
}
label {
  font-family: cursive;
  font-size: 18px;
  text-transform: capitalize;
}
.err {
  font-family: cursive;
  font-size: 15px;
  color: red;
  margin-bottom: 15px;
}
